.img_avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 2px solid gray;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: center;
}


/* angularJs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}