.img_avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 2px solid gray;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: center;
}